<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="database" value="reports.db" />

        <add key="main.title" value="Spartacus Report Manager" />
        <add key="main.insert" value="Adicionar" />
        <add key="main.update" value="Editar" />
        <add key="main.delete" value="Remover" />
        <add key="main.execute" value="Gerar PDF" />

        <add key="reportinsert.title" value="Novo Relatório" />
        <add key="reportinsert.name" value="Nome do Relatório" />
        <add key="reportinsert.xmlfile" value="Arquivo XML" />
        <add key="reportinsert.filter" value="Arquivos XML (*.xml)|*.xml|Todos os arquivos (*.*)|*.*" />
        <add key="reportinsert.save" value="Adicionar" />
        <add key="reportinsert.cancel" value="Cancelar" />

        <add key="reportupdate.title" value="Editar Relatório" />
        <add key="reportupdate.name" value="Nome do Relatório" />
        <add key="reportupdate.xmlfile" value="Arquivo XML" />
        <add key="reportupdate.filter" value="Arquivos XML (*.xml)|*.xml|Todos os arquivos (*.*)|*.*" />
        <add key="reportupdate.save" value="Salvar" />
        <add key="reportupdate.cancel" value="Cancelar" />

        <add key="param.title" value="Gerar Relatório em PDF" />
        <add key="param.execute" value="Gerar" />
        <add key="param.cancel" value="Fechar" />
        <add key="param.pdffile" value="Salvar como" />
        <add key="param.filter" value="Arquivos PDF (*.pdf)|*.pdf|Todos os arquivos (*.*)|*.*" />
    </appSettings>
</configuration>
