<?xml version="1.0"?>
<!--
Web.config file for ReportManagerWeb.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <httpRuntime executionTimeout="86400" maxRequestLength="2097151" />
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
      </assemblies>
    </compilation>
    <customErrors mode="Off">
    </customErrors>
    <authentication mode="None">
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
    </httpHandlers>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <sessionState mode="InProc" cookieless="false" timeout="1440" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages>
    </pages>
  </system.web>
  <appSettings>
    <add key="database" value="reports.db" />
    <add key="serverip" value="127.0.0.1" />
    <add key="serverport" value="3939" />
    <add key="clientip" value="127.0.0.1" />
    <add key="clientport" value="3940" />
    <add key="main.title" value="Spartacus Report Manager" />
    <add key="main.insert" value="Adicionar" />
    <add key="main.update" value="Editar" />
    <add key="main.delete" value="Remover" />
    <add key="main.execute" value="Gerar PDF" />
    <add key="reportinsert.title" value="Novo Relatório" />
    <add key="reportinsert.name" value="Nome do Relatório" />
    <add key="reportinsert.xmlfile" value="Arquivo XML" />
    <add key="reportinsert.filter" value="Arquivos XML (*.xml)|*.xml|Todos os arquivos (*.*)|*.*" />
    <add key="reportinsert.save" value="Adicionar" />
    <add key="reportinsert.cancel" value="Cancelar" />
    <add key="reportupdate.title" value="Editar Relatório" />
    <add key="reportupdate.name" value="Nome do Relatório" />
    <add key="reportupdate.xmlfile" value="Arquivo XML" />
    <add key="reportupdate.filter" value="Arquivos XML (*.xml)|*.xml|Todos os arquivos (*.*)|*.*" />
    <add key="reportupdate.save" value="Salvar" />
    <add key="reportupdate.cancel" value="Cancelar" />
    <add key="param.title" value="Gerar Relatório em PDF" />
    <add key="param.execute" value="Gerar" />
    <add key="param.back" value="Voltar" />
    <add key="execute.title" value="Gerando Relatório em PDF" />
    <add key="execute.back" value="Voltar" />
    <add key="execute.download" value="Download" />
    <add key="error.title" value="Erro!" />
    <add key="error.back" value="Tentar Novamente" />
    <add key="editable" value="true" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="100000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147482624" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>